body {
    background-color: #FFFF;
    font-family: "Source Serif Pro";
    color: #FFF;
   
   

}

.logo{
    position:absolute;
    width: 112px;
    height: 81px;
    
    border-radius: 50px;
}
.main-content-background{
    background: #5B6E3A;
    position:absolute;
    top:103px;
    width: 472px;
    height: 765px;
    flex-shrink:0;
}

#navbar {

font-style: normal;
font-weight: 400;
line-height: normal;
flex-shrink: 0;
list-style-type: none;
margin: 0;
padding: 0;
display: inline;
overflow: hidden;


}

li a {
    position: relative;
    top:48px;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    color: black;
    font-size: 20px;
    
    
}

.line-under-navbar{
    width: 1445px;
    height: 1px;
    flex-shrink: 0;
    background: #818181;
    position:absolute;
    bottom: 921px;
    top: 102px;
}

.horizontal-line{
    width: 6px;
    height: 835px;
    background: black;
    left: 235px;
    right: 103px;
    top: 102px;
    position: absolute;

}

 h1 {
    color: #FFF;
 font-family: Source Serif Pro;
 font-size: 32px;
 font-style: normal;
  font-weight: 600;
 line-height: normal;
 }

 p{
    color: #FFF;
font-family: Source Serif Pro;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
 }
.title-side{
    position: absolute;
    left: 122px;
    top: 217px;
    border: 10px solid #C2BE60;
    background-color: #2D371D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 579px;
    height: 194px;
    flex-shrink: 0;

}

.picture-side{
 position: absolute;
 left: 479px;
 bottom: 156px;
 background: #2D371D;
 width: 953px;
 height: 765px;
 top: 103px;
}

img{
    width: 332px;
height: 258px;
flex-shrink: 0;
border-radius: 15px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#f-wife-image{
position:absolute;
top:321px;
left:379px;
bottom: 186px;
}

#town-painting{
    position: absolute;
    top:50px;
    left:568px;
    bottom:457px;

}

#musuem-sign{
position:absolute;
top:507px;
left:607px;


}


.bottom-horizontal-line{
 position:absolute;
    top: 868px;
    bottom: 152px;
    background: #ACADAC;
    width: 1439.019px;
    height: 1px;
}
   
   
#right-arrow{
    position:absolute;
    top:898px;
    left:1316px;
    width: 112px;
    height: 81px;
    border-radius: 50px;
    }


li a:hover {
    color:  #C2BE60;;
  }
  

 li a:active {
    color: #2D371D;;
  }

  @media screen and (max-width:768px){
    body{
        display:flex;
        position:absolute;
        right:
    }
    #right-arrow{
        position:absolute;
        top:898px;
        left:250px;
        width: 112px;
        height: 81px;
        border-radius: 50px;
        }

        .title-side{
            position: absolute;
            left: 322px;
            top: 217px;
            border: 4px solid #C2BE60;
            background-color: #2D371D;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            width: 90%;
            height: 194px;
            flex-shrink: 1;
            
        
        }

        p{
            font-size: 18px;
        }

        #navbar {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 10px;
          }

          #navbar a {
      padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
         color: #818181;
        display: block;
}
        #navbar a:hover{
            color: white;

        }
        .logo{
            position:absolute;
            width: 112px;
            height: 81px;
            left: 200px;
            
            border-radius: 50px;
        }

        
       
        
  }
